{% extends 'locator/base.html' %}

{% block content %}
<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center text-white text-uppercase my-3">{{ title }}</h3>
            </div>
        </div>

        <div class="row">
            {% for node in nodes %}
            <div class="col-xl-4 col-md-6 col-sm-12 my-1 p-2">
                 <h6 class="text-center text-white">
                    <a href="{{ node.get_absolute_url }}" class="fw-bold" style="text-decoration: none;">
                        {{ node.title }} {{ node.slug }}
                    </a>
                </h6>
                <div class="line"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
